@page
@model Error503Model
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error 503.</h1>
<h2 class="text-danger">er kon niet worden verbonden met de database, probeer het later opnieuw of neem contact op met de helpdesk</h2>
