@page
@model IndexModel
@{
    /* als je een een template wilt gebruiken voor alle paginas kan dat hier en dan is testlayout de algemene layout*/
    ViewData["Title"] = "Login page";
    Layout = "";
}
<div>Capaciteitsplanning</div>
<div>
    <a href="/">Home</a>
</div>