@page
@model CapplanModel
@{
    ViewData["Title"] = "Capplan";
    Layout = "";
}
<head>
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
</head>
<body>
    <div>Capaciteitsplanning</div>
    <div>
        <a href="/">Home</a>
    </div>
</body>
